<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>MooTools Form Replacements</title>
    <link rel="stylesheet" href="{{ site.docbase }}css/master.css" type="text/css" charset="utf-8">
  </head>
  <body>
    <header>
      <a href="http://github.com/bryanjswift/mootools-form-replacements">
        <img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub" />
      </a>
      <h1><a href="{{ site.docbase }}">Mootools Form Replacements</a></h1>
      <p class="description">Creates styleable elements that function like standard form elements.</p>
    </header>
    <div id="container" class="{{ page.class }}">
      {{ content }}
      {% if page.docs %}
        <nav>
          <h2>Documentation</h2>
          <ul>
            {% include docs-list.html %}
          </ul>
        </nav>
      {% endif %}
    </div>
    <footer>
      <p>
        You can download this project in either
        <a href="http://github.com/bryanjswift/mootools-form-replacements/zipball/master">zip</a> or
        <a href="http://github.com/bryanjswift/mootools-form-replacements/tarball/master">tar</a> formats.
      </p>
      <p>
        get the source code on GitHub:
        <a href="http://github.com/bryanjswift/mootools-form-replacements">bryanjswift/mootools-form-replacements</a>
      </p>
    </footer>
    <script src="//ajax.googleapis.com/ajax/libs/mootools/1.3.0/mootools-yui-compressed.js"></script>
    <script src="{{ site.docbase }}js/form-replacements.js"></script>
  </body>
</html>
